/* 
1996-2010 CyberCenter S.A. Todos los Derechos Reservados.
CSS para proyecto {SITIO WEB - SUPERINTENDENDIA DE CASINOS DE JUEGOS}               
Media: SCREEN
Autor: Area Diseño Web - CyberCenter S.A.        					
Fecha de creacion 20/01/2010                        
Fecha de ultima modificacion: dd/mm/aaaa
Version: 1.0 
*/

/* llamado a menu y clases \
@import url("class.css");*/

body { font-family:"Arial Narrow", Helvetica, sans-serif; color:#666666; font-size:13px; margin:0;	padding:0; }
